body html {
    padding:0;
    margin:0;
  }
  
  .browser-container img {
    display: block;
    margin: auto;
    width: 300px;
    opacity: .8;
    border-radius: 10px;
  }
  
  .container {
    margin-top: 10%;
  }
  
  
  
  p {
    font-size: 120%;
    font-weight: 300;
  }
  p .two {
    font-size: 300%;
  }
  h1 {
    padding-top: 20px;
    font-weight: 300;
    font-size: 3em;
  }
  .text {
    text-align: center;
  }
  
  .btn-success {
    margin-top: 20px;
    padding: 15px;
    background-color: rgb(172, 221, 107);
    border: none;
  }
  
  a{
    color: white;
  }

  