<!DOCTYPE html>
<html>
<head>
    <style>
        .cards {
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
          transition: 0.3s;
          width: 90%;
          margin: auto;
          display: inline-block;
          
          
          
          }
          .cards:hover {
          box-shadow: 0 18px 46px 0 rgba(0,0,0,0.2);
          }
          h5{
            font-size: 25px;
          }
          .containdiv {
          padding: 2px 4px;
          
          margin-left: 2%;
          
          
        } 


          .imageDiv{
            width: 40%;
            float: left;
            margin-left: 10%;
            margin-top: 1%;
            
          }
          
          
          
          
        </style>

        


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PAGE_TITLE</title>

    <!-- Bootstrap Stylesheet-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Main Stylesheet-->
    <link rel="stylesheet" href="style.css"> <!-- copy the contents and and start a page specific css stylesheet-->
    <!-- FontAwesome Stylesheet-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="index.js"></script>
    
    <script onload="function n()"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="API.js"></script>
</head>
<body>
  <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-light">
        <a class="navbar-brand" href="#"><img class="logo" src="main-logo.png" alt="main-logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/picks">Top Picks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Cocktail Finder</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Random Cocktail</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/games">Games</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Store (Coming Soon)</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="logout()">Log out</button>
          </form>
        </div>
      </nav>
    </header>

    <main role="main">

      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide" style="background-color: #FBDA61; background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);" alt="First slide">
            <div class="container">
              <div class="carousel-caption text-left">
                <h1 class="quote-style">Wisdom...</h1>
                <p class="quote-style">"This is where the body of the quote will go once linked to MongoDB"</p>
                <p class="quote-style"><i>- Author</i></p>
                <p><a class="btn btn-lg btn-primary" onClick="function n()" role="button">Another Quote</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="second-slide" style="background-color: #FBDA61; background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);" alt="Second slide">
            <div class="container">
              <div class="carousel-caption">
                <h1>Sing it :)</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary" onClick="window.location.reload()" role="button">Another Quote</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="third-slide" style="background-color: #FBDA61; background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);" alt="Third slide">

            <div class="container">
              <div class="carousel-caption text-right">
                <h1>Amen!!</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary" onClick="window.location.reload()" role="button">Another Quote</a></p>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
  
  
        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->
  
        <div  class="container marketing">
          <!-- ################ KEEP CODE INSIDE THE DIV ################ -->
          
         
          <div id="root"></div>
          <form>
            <input list="ingredients" name="ingredient1" class="btn" value="[Select]">
            <datalist id="ingredients">
              <option value="7-Up">
                <option value="Absinthe">
                <option value="Absolut Citron">
                <option value="Absolut Kurant">
                <option value="Absolut Vodka">
                <option value="Advocaat">
                <option value="Ale">
                <option value="Amaretto">
                <option value="Añejo rum">
                <option value="Angelica root">
                <option value="Apple brandy">
                <option value="Apple cider">
                <option value="Apple juice">
                <option value="Applejack">
                <option value="Apricot brandy">
                <option value="Bacardi Limon">
                <option value="Baileys irish cream">
                <option value="Bailey's irish cream">
                <option value="Banana liqueur">
                <option value="Beer">
                <option value="Berries">
                <option value="Bitters">
                <option value="Black Sambuca">
                <option value="Blackberry brandy">
                <option value="Blended Scotch">
                <option value="Blended whiskey">
                <option value="Blue Curacao">
                <option value="Bourbon">
                <option value="Brandy">
                <option value="Cachaca">
                <option value="Campari">
                <option value="Cantaloupe">
                <option value="Carbonated water">
                <option value="Chambord raspberry liqueur">
                <option value="Champagne">
                <option value="Cherry brandy">
                <option value="Cherry Heering">
                <option value="Chocolate">
                <option value="Chocolate ice-cream">
                <option value="Chocolate liqueur">
                <option value="Chocolate syrup">
                <option value="Cider">
                <option value="Coca-Cola">
                <option value="Cocoa powder">
                <option value="Coconut rum">
                <option value="Coffee">
                <option value="Coffee brandy">
                <option value="Coffee liqueur">
                <option value="Cognac">
                <option value="Cointreau">
                <option value="Corona">
                <option value="Cranberries">
                <option value="Cranberry juice">
                <option value="Cranberry vodka">
                <option value="Creme de Cacao">
                <option value="Creme de Cassis">
                <option value="Crown Royal">
                <option value="Dark rum">
                <option value="demerara Sugar">
                <option value="Dry Vermouth">
                <option value="Dubonnet Rouge">
                <option value="Egg">
                <option value="Egg yolk">
                <option value="Espresso">
                <option value="Everclear">
                <option value="Firewater">
                <option value="Frangelico">
                <option value="Fruit punch">
                <option value="Galliano">
                <option value="Gin">
                <option value="Ginger">
                <option value="Godiva liqueur">
                <option value="Goldschlager">
                <option value="Grand Marnier">
                <option value="Grape juice">
                <option value="Grape Soda">
                <option value="Grapefruit juice">
                <option value="Grapes">
                <option value="Green Chartreuse">
                <option value="Green Creme de Menthe">
                <option value="Grenadine">
                <option value="Guinness stout">
                <option value="Heavy cream">
                <option value="Hot Chocolate">
                <option value="Hot Damn">
                <option value="Ice">
                <option value="Irish cream">
                <option value="Irish whiskey">
                <option value="Jack Daniels">
                <option value="Jägermeister">
                <option value="Jim Beam">
                <option value="Johnnie Walker">
                <option value="Kahlua">
                <option value="Kiwi">
                <option value="Kiwi liqueur">
                <option value="Kool-Aid">
                <option value="Lager">
                <option value="Lemon">
                <option value="Lemon juice">
                <option value="Lemon peel">
                <option value="Lemon vodka">
                <option value="Lemonade">
                <option value="Light rum">
                <option value="Lime">
                <option value="Lime juice">
                <option value="Malibu rum">
                <option value="Mango">
                <option value="Maui">
                <option value="Mezcal">
                <option value="Midori melon liqueur">
                <option value="Milk">
                <option value="Mint">
                <option value="Orange">
                <option value="Orange bitters">
                <option value="Orange juice">
                <option value="Ouzo">
                <option value="Peach nectar">
                <option value="Peach Vodka">
                <option value="Peachtree schnapps">
                <option value="Peppermint schnapps">
                <option value="Pineapple juice">
                <option value="Pisco">
                <option value="Port">
                <option value="Prosecco">
                <option value="Raspberry vodka">
                <option value="Red wine">
                <option value="Ricard">
                <option value="Rum">
                <option value="Rye whiskey">
                <option value="Sambuca">
                <option value="Scotch">
                <option value="Sherry">
                <option value="Sloe gin">
                <option value="Sour mix">
                <option value="Southern Comfort">
                <option value="Spiced rum">
                <option value="Sprite">
                <option value="Strawberries">
                <option value="Strawberry schnapps">
                <option value="Sugar">
                <option value="Sugar syrup">
                <option value="Sweet Vermouth">
                <option value="Tea">
                <option value="Tequila">
                <option value="Tomato juice">
                <option value="Triple sec">
                <option value="Vanilla ice-cream">
                <option value="Vanilla vodka">
                <option value="Vermouth">
                <option value="Vodka">
                <option value="Water">
                <option value="Whiskey">
                <option value="Whisky">
                <option value="White Creme de Menthe">
                <option value="White Rum">
                <option value="Wild Turkey">
                <option value="Yoghurt">
                <option value="Yukon Jack">
                <option value="Zima">
                
            </datalist>
            
          </form>
          <br>
          <form >
            <input list="ingredients" name="ingredient2" class="btn" value="[Select]">
          
          
            </datalist>
           
          </form>
          
          
  
          <!-- ################ END THE EDITABLE AREA - DO NOT EDIT OUTSIDE OF THIS AREA ################ -->
  
        </div><!-- /.container -->
  
  
        <!-- FOOTER -->
        <div class="footer">
            <div class="container">
                <div class="row ">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <div class="ft-logo"><img class="footer-logo" src="images/main-logo.png" alt=""></div>
                    </div>
                </div>
                <hr class="footer-line">
                <div class="row ">
                    <!-- footer-about -->
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
                        <div class="footer-widget ">
                            <div class="footer-title">Company</div>
                            <ul class="list-unstyled">
                                <li><a href="#">About</a></li>
                                <li><a href="#">Support</a></li>
                                <li><a href="#">Press</a></li>
                                <li><a href="#">Legal & Privacy</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.footer-about -->
                    <!-- footer-links -->
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
                        <div class="footer-widget ">
                            <div class="footer-title">Quick Links</div>
                            <ul class="list-unstyled">
                                <li><a href="#">News</a></li>
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.footer-links -->
                    <!-- footer-links -->
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
                        <div class="footer-widget ">
                            <div class="footer-title">Social</div>
                            <ul class="list-unstyled">
                                <li><a href="https://www.twitter.com">Twitter</a></li>
                                <li><a href="https://www.facebook.com">Facebook</a></li>
                                <li><a href="https://www.instagram.com">Instagram</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.footer-links -->
                    <!-- footer-links -->
                    <!-- /.footer-links -->
                    <!-- tiny-footer -->
                </div>
                <div class="row ">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center ">
                        <div class="tiny-footer">
                            <p>Copyright © All Rights Reserved Mixed Up 2019</p>
                        </div>
                    </div>
                    <!-- /. tiny-footer -->
                </div>
            </div>
        </div>
      </main>



<!-- Bootstrap Dependencies-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



</body>
</html>
